@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-light-purple: #BAA0D3;
    --color-dark-purple: #2F1369;
    --color-light-mode-purple:#D5B8FF;
    --color-dark-mode-purple:#3A2A4F;
    --color-white:#FFFFFF;
    --color-purple-home: #5E35B1;
    --color-black: #000000;
    --color-chatcolor: #FAF2FF;
    --color-dark-purple-home: #1A1124;
}

